<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout1}"> 
<head>
	<link rel="stylesheet" th:href="@{/book_search.css}">
    <title>책 검색화면</title>
</head>
<body>
    <div layout:fragment="content">
		<main class="main-content">
		    <h2 class="page-title">책</h2>
		    <div class="book-grid">
		        <div class="book-item" th:each="book : ${books}">
		            <div class="book-cover">
		                <img th:src="${book.coverUrl}" alt="책 표지">
		            </div>
		            <div class="book-info">
		                <h3 class="book-title" th:text="${book.title}"></h3>
		                <p class="book-meta" th:text="|${book.year} · ${book.author}|"></p>
		            </div>
		        </div>
		    </div>
		</main>
	</div>
</body>
</html>