<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout1}"> 
<head>
	<link rel="stylesheet" th:href="@{/book_search.css}">
    <title>책 검색화면</title>
</head>
<body>
    <div layout:fragment="content">
		<main class="main-content">
		    <h2 class="page-title">사전 검색</h2>
			<div class="dictionary">[[${dictionary}]]</div>
		    <h2 class="page-title">책</h2>
			<div class="loading-box">
				<img src="/images/loading-bar.gif"/>
				<h3 class="loading-text">API 호출 중입니다. 잠시만 기다려 주세요.</h3>
			</div>
		    <div class="book-grid">
		        <div class="book-item" th:each="book : ${list}">
		            <div class="book-cover">
						<a th:href="@{/detail/page(id=${book.bookIdx})}">
		                	<img th:src="${book.pic}" alt="${book.title}">
						</a>
		            </div>
		            <div class="book-info">
		                <h3 class="book-title">[[${book.title}]]</h3>
		                <p class="book-meta">[[${book.author}]]</p>
		            </div>
		        </div>
		    </div>
		</main>
		<script th:src="@{/book_search.js}"></script>
	</div>	
</body>
</html>