<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout1}"> 
<head>
    <link rel="stylesheet" th:href="@{/cart.css}">
    <title>장바구니</title>
</head>
<body class="cart-page">
	<div layout:fragment="content">
		<main class="main-container cart-page">
			
		    <div id="cart-data"
		         data-items='[[${cartItemsJson}]]'
		         data-total='[[${totalPrice}]]'>
		    </div>

	    	<div class="page-header">
				<h1 th:text="'장바구니 (' + ${#lists.size(cartItems)} + ')'">장바구니 (0)</h1>
	        	<div class="header-steps">
	            	<span class="active-step">1 장바구니</span>
	            	<span>2 주문/결제</span>
	            	<span>3 주문완료</span>
	        	</div>
	    	</div>
	
	    	<div class="cart-content">
	        	<div class="cart-items-section">
	            	<div class="cart-items-header">
	                	<input type="checkbox" checked>
	                	<span>전체</span>
	                	<button>선택삭제</butto>
	            	</div>
	
					<div class="cart-item" th:each="item : ${cartItems}" th:id="'item-' + ${item.book.bookIdx}">
					    <input type="checkbox" checked>
					    <div class="item-info">
					        <img th:src="${item.book.pic}" alt="상품 이미지">
					        <span class="item-title" th:text="${item.book.title}">상품명</span>
					        <span class="original-price" th:text="${#numbers.formatInteger(item.book.price, 0, 'COMMA')} + '원'">0원</span>
					        <div class="item-actions">
					            <div class="quantity-control">
					                <button class="decrease-btn" th:onclick="'decreaseQuantity(' + ${item.book.bookIdx} + ')'">-</button>
					                <input type="text" th:value="${item.quantity}" name="quantity" class="quantity-input" readonly>
					                <button class="increase-btn" th:onclick="'increaseQuantity(' + ${item.book.bookIdx} + ')'">+</button>
					            </div>
					        </div>
					    </div>
					</div>
	
			        <div class="order-summary-section">
			            <div class="summary-box">
			                <h2>결제예정금액</h2>
			                <div class="summary-row">
			                    <span>상품금액</span>
			                    <span class="total-price" th:text="${#numbers.formatInteger(totalPrice,0,'COMMA')} + '원'">0원</span>
			                </div>
			                <div class="summary-total">
			                    <span>결제예정금액</span>
								<span class="total-price" th:text="${#numbers.formatInteger(totalPrice, 0, 'COMMA')} + '원'">0원</span>						
								<button id="order-btn" class="order-btn" th:text="'주문하기 (' + ${#lists.size(cartItems)} + ')'">주문하기 (0)</button>
			            	</div>
			        	</div>
			    	</div>
				</div>	
			</div>
		</main>
		<script th:inline="javascript" th:src="@{/cart.js}"></script>
	</div>
</body>
</html>
