<div th:fragment="headerFragment">
	<header class="header">
        <div class="header-content">
            <h1 class="logo"  onclick="location.href='/home'">
                <span class="watcha">ETCHA</span><span class="pedia">PEDIA</span>
            </h1>
            <div class="search-bar">
                <input type="text" placeholder="책 제목, 저자 또는 궁금한 단어를 검색해보세요.">
            </div>
            <div sec:authorize="isAnonymous()" class="user-menu">
                <a th:href="@{/user/login}">로그인</a>
                <a th:href="@{/user/signup}">회원가입</a>
            </div>
			<div sec:authorize="isAuthenticated()" th:data-user-idx="${#authentication.principal.userIdx}" class="user-menu">
				<a th:href="@{/news}">소식</a>
				<span onclick="location.href='/mypage'">
			        <!--<img th:src="${#authentication.principal.profile}" alt="프로필" class="profile-img">
					예시로 그냥 아무 프로필! -->
			        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSSKF8htVnODGtVjRJLQVfKniLWFNbANd5EWd3g6LGfDQKHlpA0Ldn9j1wjEjSq5U8TS4oDV8sClH1P67tVCtCNFYRiVxXiF8EyZBc_uI8O" alt="프로필" class="profile-img">
			        <span sec:authentication="principal.name"></span>
				</span>
            </div>
        </div>
    </header>
</div>
<script>
	$(function() {
	})
</script>