<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<link rel="stylesheet" th:href="@{/login_form.css}"/>
  	<title>로그인</title>
</head>
<body>
	<div class="popup">
		<h1 class="logo">
            <span class="watcha">ETCHA</span><span class="pedia">PEDIA</span>
        </h1>
		<h2 class="title">로그인</h2>
	    <form th:action="@{/user/login}" th:method="post">
			<h5 th:if="${param.error}">ID 또는 비밀번호를 확인해 주세요.</h5>
			<div class="form-group">
				<input type="email" placeholder="이메일" name="email">
			</div>
			<div class="form-group">
				<input type="password" placeholder="비밀번호" name="password">
			</div>
			
			<button type="submit" class="login-btn">로그인</button>
	    </form>
	    <div class="link">
			<a href="#">비밀번호를 잊어버리셨나요?</a><br/><br/>
			계정이 없으신가요?<a th:href="@{/user/signup}">회원가입</a>
		</div>
	    <div class="or">OR</div>
	    <div class="social-login">
	    	<button class="kakao-btn">
	        	<img src="https://cdn-icons-png.flaticon.com/512/3669/3669976.png" alt="KakaoTalk"> 카카오톡 로그인
	      	</button>
	    </div>
	</div>
</body>
</html>