<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout1}"> 
<head>
	<link rel="stylesheet" th:href="@{/reply.css}">
	<link rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>댓글</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="main-container">
			<!-- 코멘트 카드 -->
			<div class="comment-card">
		    	<div class="comment-header">
		    		<div class="comment-user">
		        		<img th:src="@{'/upload/' + ${info.comment.user.profile}}" class="avatar">
		        		<span class="user-name">[[${info.comment.user.name}]]</span>
		      		</div>
		    	</div>
		    	<div class="comment-body">
		      		<div class="comment-summary">
		        		<img th:src="${info.comment.book.pic}" th:alt="${info.comment.book.title}" class="summary-thumb">
		        		<div class="summary-text">
		          			<div class="summary-title">[[${info.comment.book.title}]]</div>
		          			<div class="summary-sub">[[${info.comment.book.author}]]</div>
		        		</div>
		      		</div>
		      		<div class="comment-text">
		        		<p>[[${info.comment.content}]]</p>
		      		</div>
		    	</div>
		    	<div class="comment-footer">
		      		<div class="social-actions">
		        		<span class="thumbs">
							<i class="fa-regular fa-thumbs-up" th:classappend="${info.isLiked} ? 'active'"></i>
							좋아요
							<span class="count-likes">[[${info.likesCount}]]</span>
						</span>
		        		<span><i class="fa-regular fa-comment"></i>댓글 [[${info.replies.size()}]]</span>
		      		</div>
		    	</div>
		    </div>

		  	<!-- 리플 리스트 -->
		  	<div class="reply-list">
		    	<div class="reply" th:each="reply : ${info.replies}" th:data-reply-idx="${reply.replyIdx}">
		      		<div class="reply-user">
		        		<img th:src="@{'/upload/' + ${reply.user.profile}}" alt="Profile" class="avatar">
		        		<span class="user-name">[[${reply.user.name}]]</span>
		      		</div>
		      		<div class="reply-text">
		        		<p>[[${reply.reply}]]</p>
		      		</div>
		      		<div class="reply-actions">
		        		<span class="thumbs">
							<i class="fa-regular fa-thumbs-up"></i>
							좋아요
							<span class="count-likes"></span>
						</span>
		      		</div>
		    	</div>
		  	</div>

		  	<!-- 리플 입력 -->
		  	<form class="reply-input" method="post" th:action="@{/reply/add}" onsubmit="return isTextExist(this)">
		    	<img th:src="@{'/upload/' + ${#authentication.principal.profile}}" alt="Profile" class="avatar">
		    	<input type="text" class="reply-input-field" placeholder="댓글을 남겨보세요" name="content"/>
		    	<input type="submit" class="reply-submit" value="등록"></input>
				<input type="hidden" name="userIdx" th:value="${#authentication.principal.userIdx}"/>
				<input type="hidden" name="commentIdx" th:value="${param.commentIdx}"/>
	  		</form>
		</div>
		<script th:src="@{/reply.js}"></script>
	</div>
</body>
</html>